{% extends 'giftweb/base.html' %}
{% load static %}

{% block content %}
<main class="wrapper">
    <section class="hero blog-hero">
        <div class="container-fluid">
            <div class="row">
                <h2>#ora-ks_blog</h2>
                <p>Read all case about our products!</p>
            </div>
        </div>
    </section><!-- hero ./ -->

    <section class="blog">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-md-6 col-lg-12 blog-post">
                    <div class="bog-img">
                        <img src="{{ blog.image.url }}" class="mx-auto" alt="{{ blog.topic }}" />
                    </div>
                    <div class="blog-details">
                        <div class="blog-details-rs">
                            <h4>{{ blog.topic }}</h4>
                            <p>
                                {{ blog.body|truncatewords:30 }}
                                <a href="#" class="read-more-link" data-toggle="modal" data-target="#blogModal{{ blog.id }}">Read More</a>
                            </p>
                        </div>
                        <h1>{{ blog.date|date:"d/m" }}</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="pagination">
        <div class="container">
            <div class="row">
                <div class="pagination justify-content-center">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#"><i class="uil uil-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>


{% for blog in blogs %}
<!-- Modal -->
<div class="modal fade" id="blogModal{{ blog.id }}" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel{{ blog.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blogModalLabel{{ blog.id }}">{{ blog.topic }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ blog.image.url }}" alt="{{ blog.topic }}" class="mx-auto" />
                <p style="color: black;">{{ blog.body }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'path/to/bootstrap.min.css' %}">

<!-- JavaScript -->
<script src="{% static 'path/to/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'path/to/popper.min.js' %}"></script>
<script src="{% static 'path/to/bootstrap.min.js' %}"></script>

<!-- Custom JavaScript -->
<script>
    // Function to handle "Read More" link click event
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.read-more-link').forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                var modalId = this.getAttribute('data-target');
                var modal = document.querySelector(modalId);
                if (modal) {
                    $(modal).modal('show');
                }
            });
        });
    });
</script>

{% endblock %}