
{% extends 'giftweb/base.html' %}
{% load static %}

{% block content %}
<main class="wrapper">
    <section class="hero blog-hero">
        <div class="container-fluid">
            <div class="row">
                <h2>#ora-ks_blog</h2>
                <p>Read all case about our products!</p>
            </div>
        </div>
    </section><!-- hero ./ -->

    <section class="blog">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-md-6 col-lg-12 blog-post">
                    <div class="bog-img">
                        <img src="{{ blog.image.url }}" class="mx-auto" alt="{{ blog.topic }}" />
                    </div>
                    <div class="blog-details">
                        <div class="blog-details-rs">
                            <h4>{{ blog.topic }}</h4>
                            <p>
                                {{ blog.body|truncatewords:30|safe }}
                                <a href="#" class="read-more-link" data-toggle="modal" data-target="#blogModal{{ blog.id }}">Read More</a>
                            </p>
                        </div>
                        <h1>{{ blog.date|date:"d/m" }}</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="pagination">
        <div class="container">
            <div class="row">
                <div class="pagination justify-content-center">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#"><i class="uil uil-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>


{% for blog in blogs %}
<!-- Modal -->
<div class="modal fade" id="blogModal{{ blog.id }}" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel{{ blog.id }}" aria-hidden="true" style="padding-top: 50px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blogModalLabel{{ blog.id }}">{{ blog.topic }}</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="color:black;">{{ blog.topic }}</h2>
                <img src="{{ blog.image.url }}" alt="{{ blog.topic }}" class="mx-auto" />
                <p style="color: black;">{{ blog.body|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'path/to/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

<!-- JavaScript -->
<script src="{% static 'path/to/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'path/to/popper.min.js' %}"></script>
<script src="{% static 'path/to/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<!-- Custom JavaScript -->
<script>
    // Function to handle "Read More" link click event
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.read-more-link').forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                var modalId = this.getAttribute('data-target');
                var modal = document.querySelector(modalId);
                if (modal) {
                    $(modal).modal('show');
                }
            });
        });

        // Handle modal close button click event
        $('.modal').on('click', '.close', function() {
            var modal = $(this).closest('.modal');
            modal.removeClass('show');
            modal.attr('aria-hidden', 'true');
            modal.css('display', 'none');
            $('.modal-backdrop').remove();
            $('body').removeClass('modal-open');
        });

        // Function to show SweetAlert confirmation for closing modal
        function confirmModalClose() {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to close the modal. Are you sure you want to proceed?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    hideModal();
                }
            });
        }

        // Function to hide the modal
        function hideModal() {
            var modal = $('.modal.show');
            modal.removeClass('show');
            modal.attr('aria-hidden', 'true');
            modal.css('display', 'none');
            $('.modal-backdrop').remove();
            $('body').removeClass('modal-open');
        }

        // Add event listener to close button
        $('.modal').on('click', '.close', function() {
            confirmModalClose();
        });
    });
</script>

{% endblock %}
