{% extends 'giftweb/base.html' %}

{% block title %}
    GiftWeb - Home
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to GiftWeb</h1>
        <h2>Available Products:</h2>
        <div class="product-list">
            {% for product in products %}
                <div class="product-item">
                    <h3 class="product-name"><a href="{% url 'giftweb:product_detail' product.id %}">{{ product.name }}</a></h3>
                    <p class="remaining-time">Remaining Time: {{ product.remaining_days }} days, {{ product.remaining_hours }} hours, {{ product.remaining_minutes }} minutes, {{ product.remaining_seconds }} seconds</p>
                    <!-- Other product details -->
                </div>
            {% empty %}
                <p>No products available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
