{% extends 'giftweb/base.html' %}

{% block title %}
    GiftWeb - Product Detail
{% endblock %}

{% block content %}
<style>
    .product-container {
        border: 4px solid black;
        padding: 10px;
    }
    .star {
        color: gold;
    }
</style>

<section class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-container">
                    <div class="product-image">
                        <img src="{{ premium_product.image.url }}" alt="Product Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details">
                    <h2 class="product-title">{{ premium_product.name }}</h2>
                    <h3 class="product-price">{{ premium_product.price }}</h3>
                    {% if premium_product.discount %}
                        <span class="discount">-{{ premium_product.discount }}%</span>
                    {% endif %}
                    <div class="star-rating">
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star-half-stroke star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="product-description">{{ premium_product.description }}</p>
            </div>
            <div class="col-md-6">
                <!-- Additional premium product details can be added here -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="remaining-time">Remaining Time: <span id="remaining-time"></span></p>
                <a href="{% url 'giftweb:make_payment' model_name='premium_product' product_id=premium_product.id %}" class="btn btn-primary">
                    <i class="uil uil-shopping-bag shopping-cart cart"></i> Buy Now
                </a>

            </div>
        </div>
    </div>
</section>

<script>
    // Get the remaining time from the template variables
    var days = {{ premium_product.days }};
    var hours = {{ premium_product.hours }};
    var minutes = {{ premium_product.minutes }};
    var seconds = {{ premium_product.seconds }};

    // Function to update the countdown timer
    function updateCountdown() {
        // Display the remaining time in the element with id "remaining-time"
        document.getElementById("remaining-time").innerHTML = days + " days, " + hours + " hours, " + minutes + " minutes, " + seconds + " seconds";

        // Decrease the remaining time by 1 second
        seconds--;
        if (seconds < 0) {
            seconds = 59;
            minutes--;
            if (minutes < 0) {
                minutes = 59;
                hours--;
                if (hours < 0) {
                    hours = 23;
                    days--;
                    if (days < 0) {
                        // Countdown has ended, update the page or take any required action
                        clearInterval(countdownInterval);
                    }
                }
            }
        }
    }

    // Update the countdown every second
    var countdownInterval = setInterval(updateCountdown, 1000);
</script>
{% endblock %}
